@import url(reset.css);
@import url(../fonts/stylesheet.css);

html{
   scroll-behavior: smooth;
}

body{
   font-family: 'Gilroy';
   font-weight: 500;
   color: rgb(31, 31, 31, 0.7);
}

.none{
   display: none;
}

.container {
   max-width: 1750px;
   padding: 0 15px;
   margin: 0 auto;
}

.container-right{
   padding-left: calc((100% - 1750px) / 2 + 15px);
   overflow-x: hidden;
}

@media (max-width: 1748px){
   .container-right{
      padding-left: 15px;
   }
}

.btn {
   position: relative;
   display: inline-block;
   padding: 10px 72px 10px 24px;
   border: 1px solid #114455;
   border-radius: 2px;
   color: #114455;
   font-size: 20px;
   font-weight: 800;
   transition: color .15s ease-in, background-color .15s ease-in;
}

.btn::after{
   content: "";
   position: absolute;
   right: 24px;
   top: 50%;
   transform: translateY(-50%);
   width: 32px;
   height: 32px;
   background-image: url('../images/icons/arrow-right-black.svg');
   background-position: center;
   background-repeat: no-repeat;
}

.btn:hover, .btn:focus{
   background-color: #114455;
   color: #fff;
}

.btn:active{
   top: 1px;
}

.btn:hover::after{
   background-image: url('../images/icons/arrow-right-white.svg');
}

.btn--big{
   padding: 14px 80px 14px 32px;
}

.btn--dark{
   background-color: #114455;
   color: #FFF;
}

.btn--dark::after{
   background-image: url('../images/icons/arrow-right-white.svg');
}

.btn--dark:hover, .btn--dark:focus{
   background-color: #000;
}


.header__content-mobile{
   display: none;
}

.header {
   position: relative;
   min-height: 100vh;
   background-color: #E1EDF2;
   background-image: url("../images/header/header-bg.jpg");
   background-size: cover;
   background-position: center center;
}

.header__top {
   padding: 44px 0;
   margin-bottom: 126px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 118px;
}

.nav__btn{
   display: none;
}

.link {
   color: #114455;
   font-size: 20px;
   font-weight: 800;
}

.header__content {
   max-width: 1060px;
}

.header__title {
   max-width: 734px;
   font-weight: 800;
   color: #114455;
   margin-bottom: 48px;
   font-size: 80px;
}

.header__text {
   font-size: 34px;
   margin-bottom: 72px;
   line-height: 1.57;
}

.header__text p + p{
   margin-top: 1em;
}

.header__arrows{
   position: absolute;
   bottom: 59px;
   left: 50%;
   transform: translateX(-50%);
}

.case-studies {
   padding: 184px 0;
}

.case-studies__title {
   margin-bottom: 12px;
   max-width: 1070px;
}

.case-studies__text {
   margin-bottom: 100px;
   max-width: 1070px;
}

.title {
   font-size: 80px;
   font-weight: 800;
   color: #1f1f1f;
}

.text {
   color: #1f1f1f;
   font-size: 28px;
   line-height: 1.57em; /*44px*/
}

.slider {
}
.slider__item {
}
.slide {
   position: relative;
   display: inline-block;
   /* background-color: rgb(216, 101, 101); */
   padding-left: 80px;
}

.slide__title {
   position: absolute;
   left: 0;
   bottom: 104px;
   font-size: 140px;
   font-weight: 800;
   background: linear-gradient(90deg, #114455 80px, #eee 80px);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}


.about{
   padding: 144px 0;
}

.about__title {
   max-width: 1070px;
   margin-bottom: 12px;
}

.about__text {
   max-width: 1070px;
   margin-bottom: 78px;
}


.video {
   position: relative;
}

.video-overlay::after{
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(17, 68, 85, 0.5);
   /* background-color: rgba(0, 0, 0, .5); */
}

.video__btn{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 9;
}

.video__picture {
   position: absolute;
   top: 0;
   left: 0;
}

.video__object{
   width: 100%;
   vertical-align: top;
}


.footer {
   padding: 162px 0 82px 0;
   color: rgba(31, 31, 31, 0.7);
   font-size: 20px;
   line-height: 36px;
   letter-spacing: 0.04em;
}

.footer a{
   color: rgba(31, 31, 31, 0.7);
   font-size: 20px;
   line-height: 36px;
   letter-spacing: 0.04em;
}

.footer__row{
   display: flex;
   justify-content: space-between;
}

.footer__nav {
   display: flex;
   column-gap: 104px;
}

.footer__email {

}

.footer__socials {
   display: flex;
   column-gap: 26px;
   background-color: red;
   flex-wrap: wrap;
}


img{
   width: 100px;
}